* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-align: center;
  line-height: 1.8;
  background-color: #9fe2bf;
}

#fotter {
  text-align: center;
  font-size: 0.8rem;
}
#tribute-info {
  margin-bottom: 30px;
}
@media only screen and (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0 auto 10px;
    padding: 0;
  }

  p,
  li {
    font-size: 1rem;
    text-align: justify;
  }

  #main {
    max-width: 1000px;
    padding: 5px;
    background: white;
    margin: 25px auto;
  }

  #header {
    margin: 10px auto 15px;
    text-align: center;
  }
  #header p {
    text-align: center;
  }

  #img-div {
    margin: 0 auto 15px;
  }

  img {
    max-width: 80%;
    height: 1000px;
  }

  article {
    margin-bottom: 10px;
  }

  #basic-info p,
  #education p,
  #awards p {
    padding: 10px;

    margin: 0 auto 10px;
    border-radius: 10px;
  }

  #awards {
    display: flex;
    flex-flow: row wrap;
  }

  #awards p {
    font-size: 1.1rem;
    text-align: center;
    margin: 5px;
    flex-basis: 350px;
    flex-grow: 1;
  }
}
@media only screen and (min-width: 400px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0 auto 10px;
    padding: 0;
  }

  p,
  li {
    font-size: 1.25rem;
    text-align: justify;
  }

  #main {
    max-width: 1000px;
    padding: 10px;
    background-color: #e8f8f5;
    margin: 25px auto;
  }

  #header {
    margin: 10px auto 20px;
    text-align: center;
  }
  #header p {
    text-align: center;
  }

  #img-div {
    margin: 0 auto 15px;
  }

  img {
    display: block;
    max-width: 80%;
    margin: auto;
  }

  article {
    margin-bottom: 15px;
  }

  ul {
    list-style: inside;
  }

  #basic-info p,
  #some-facts li,
  #qoute-continer p {
    padding: 10px;

    margin: 0 auto 10px;
    border-radius: 10px;
  }

  #qoute-continer {
    display: flex;
    flex-flow: row wrap;
  }

  #qoute-continer p {
    font-size: 1.3rem;
    text-align: center;
    margin: 5px;
    flex-basis: 350px;
    flex-grow: 1;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  h4 {
    font-size: 1.3rem;
  }

  #main {
    padding: 20px;
  }

  #basic-info p,
  #earlylifeandeducation li,
  #awards p {
    padding: 15px;
  }
}
